<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header (title, datatables)">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title th:text="${title}"></title>

    <!-- Bootstrap -->
    <link th:href="@{~/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:if="${datatables}" th:href="@{~/css/datatables.min.css}" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

</body>

<footer th:fragment="footer (datatables, analystRatingCalculator)">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../static/js/jquery.min.js" th:src="@{~/js/jquery.min.js}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.min.js" th:src="@{~/js/bootstrap.min.js}"></script>
    <script th:if="${datatables}" src="../static/js/datatables.min.js" th:src="@{~/js/datatables.min.js}"></script>
    <script th:if="${datatables}" >
        $(document).ready(function() {
            $('#overview_table').DataTable({
                paging: false
            });
        });
    </script>
    <script th:if="${analystRatingCalculator}" src="../../../static/js/analystRatingCalculator.js" th:src="@{~/js/analystRatingCalculator.js}"></script>
</footer>
</html>