<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="layout :: header(title='Übersicht', datatables=${true})">
    <title>Übersicht</title>
</head>
<body>
    <div class="container">

        <!-- https://github.com/thymeleaf/thymeleaf-extras-springsecurity -->
        <div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">
            Logged in user: <span sec:authentication="name"></span> |
            Roles: <span sec:authentication="principal.authorities"></span>
            <div>
                <form action="#" th:action="@{/logout}" method="post">
                    <input type="submit" value="Logout" />
                </form>
            </div>
        </div>

        <h1>Verfügbare Aktien</h1>
        <p><a href="/stockdetail/edit/new">Neue Aktie hinzufügen</a></p>
        <p><a href="/stockdetail/enableratings">Alle Ratings aktivieren</a></p>
        <table id="overview_table" class="table table-condensed table-striped table-hover">
            <thead>
                <th>Symbol</th>
                <th>Name</th>
                <th>letzte Quartalszahlen</th>
                <th>nächste Quartalszahlen</th>
                <th>Index</th>
                <th>letztes Update</th>
                <th>Gesamtrating</th>
                <th>Flags</th>
                <th>Aktionen</th>
            </thead>
            <tbody>
                <tr th:each="data : ${fundamentalData}" th:class="
                        ${(data.stockType == 'SMALL_CAP' or data.stockType == 'MID_CAP' or data.stockType == 'SMALL_FINANCE' or data.stockType == 'MID_FINANCE') and data.overallRating &gt; 6}? success :
                        (${(data.stockType == 'SMALL_CAP' or data.stockType == 'MID_CAP' or data.stockType == 'SMALL_FINANCE' or data.stockType == 'MID_FINANCE') and data.overallRating &lt; 5}? danger :
                        (${data.stockType == 'SMALL_CAP' or data.stockType == 'MID_CAP' or data.stockType == 'SMALL_FINANCE' or data.stockType == 'MID_FINANCE'}? warning :
                        (${data.overallRating &gt; 3}? success :
                        (${data.overallRating &lt; 3}? danger : warning))))">
                    <td><a th:text="${data.symbol}" th:href="'/stockdetail/' + ${data.symbol}"></a></td>
                    <td th:text="${data.name}"></td>

                    <td th:if="${data.lastQuarterlyFigures != null}" th:text="${#dates.format(data.lastQuarterlyFigures, 'yyyy-MM-dd')}"></td>
                    <td th:if="${data.lastQuarterlyFigures == null}" th:text="${'-'}"></td>

                    <td th:if="${data.nextQuarterlyFigures != null}" th:text="${#dates.format(data.nextQuarterlyFigures, 'yyyy-MM-dd')}"></td>
                    <td th:if="${data.nextQuarterlyFigures == null}" th:text="${'-'}"></td>

                    <td th:text="${data.stockIndex}"></td>

                    <td th:if="${data.date != null}" th:text="${#dates.format(data.date, 'dd.MM.yyyy')}"></td>
                    <td th:if="${data.date == null}" th:text="${'-'}"></td>

                    <td th:text="${data.overallRating}"></td>

                    <td th:if="${!data.automaticRating}"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></td>
                    <td th:if="${data.automaticRating}" th:text="${''}"></td>

                    <td>
                        <div class="btn-group" role="group" aria-label="Aktionen">
                            <a class="btn btn-default btn-xs" role="button" th:href="'/stockdetail/delete/' + ${data.symbol}">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>
                            <a class="btn btn-default btn-xs" role="button" th:if="${!data.automaticRating}" th:href="'/stockdetail/enableratings/' + ${data.symbol}">
                                <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<footer th:include="layout :: footer(datatables=${true}, analystRatingCalculator=${false})"></footer>
</html>