<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:include="layout :: header(title='Details', datatables=${false})">
    <title>Details</title>
</head>
<body>
    <div class="container">

        <div th:substituteby="overview::logout"></div>

        <h1 th:text="'Details für ' + ${fundamentalData.name} + ' (' + ${fundamentalData.symbol} + ')'"></h1>

        <p th:text="'Daten vom ' + ${fundamentalData.date}"></p>
        <p th:text="'Marktkapitalisierung: ' + ${fundamentalData.marketCapitalization}"></p>
        <p th:text="'Typ: ' + ${fundamentalData.stockType}"></p>
        <p th:text="'Index: ' + ${fundamentalData.stockIndex.description}"></p>
        <ul th:each="url : ${fundamentalData.urls}">
            <li><a th:href="${url}" th:text="${url}" target="_blank" rel="noopener noreferrer"></a></li>
        </ul>

        <table class="table table-striped table-hover">
            <thead>
                <th>Kennzahl</th>
                <th>Details</th>
                <th>Wert</th>
                <th>Punkte</th>
            </thead>
            <tbody>
                <tr>
                    <td>RoE LJ</td>
                    <td></td>
                    <td th:text="${fundamentalData.roe}"></td>
                    <td th:text="${fundamentalData.roeRating}"></td>
                </tr>
                <tr>
                    <td>EBIT-Marge LJ</td>
                    <td></td>
                    <td th:text="${fundamentalData.ebit}"></td>
                    <td th:text="${fundamentalData.ebitRating}"></td>
                </tr>
                <tr>
                    <td>Eigenkapitalquote LJ</td>
                    <td></td>
                    <td th:text="${fundamentalData.equityRatio}"></td>
                    <td th:text="${fundamentalData.equityRatioRating}"></td>
                </tr>
                <tr>
                    <td>KGV 5 Jahre</td>
                    <td></td>
                    <td th:text="${fundamentalData.per5years}"></td>
                    <td th:text="${fundamentalData.per5yearsRating}"></td>
                </tr>
                <tr>
                    <td>KGV aktuell</td>
                    <td></td>
                    <td th:text="${fundamentalData.perCurrent}"></td>
                    <td th:text="${fundamentalData.perCurrentRating}"></td>
                </tr>
                <tr>
                    <td>Analystenmeinungen</td>
                    <td>Verkaufen (3) - Kaufen (1)</td>
                    <td th:text="${fundamentalData.analystEstimation}"></td>
                    <td th:text="${fundamentalData.analystEstimationRating}"></td>
                </tr>
                <tr>
                    <td>Reaktion auf Quartalszahlen</td>
                    <td th:if="${fundamentalData.nextQuarterlyFigures != null}" th:text="'Nächste Quartalszahlen: ' + ${fundamentalData.nextQuarterlyFigures}"></td>
                    <td th:if="${fundamentalData.nextQuarterlyFigures == null}" th:text="'Nächste Quartalszahlen: -'"></td>
                    <td th:text="${fundamentalData.lastQuarterlyFigures}?${#dates.format(fundamentalData.lastQuarterlyFigures, 'dd.MM.yyyy')}"></td>
                    <td th:text="${fundamentalData.lastQuarterlyFiguresRating}"></td>
                </tr>
                <tr>
                    <td>Gewinnrevisionen</td>
                    <td></td>
                    <td th:text="${fundamentalData.earningsRevision}"></td>
                    <td th:text="${fundamentalData.earningsRevisionRating}"></td>
                </tr>
                <tr>
                    <td>Kursverlauf 6 Monate</td>
                    <td></td>
                    <td th:text="${fundamentalData.rateProgress6month}"></td>
                    <td th:text="${fundamentalData.rateProgress6monthRating}"></td>
                </tr>
                <tr>
                    <td>Kursverlauf 1 Jahr</td>
                    <td></td>
                    <td th:text="${fundamentalData.rateProgress1year}"></td>
                    <td th:text="${fundamentalData.rateProgress1yearRating}"></td>
                </tr>
                <tr>
                    <td>Kursmomentum</td>
                    <td></td>
                    <td></td>
                    <td th:text="${fundamentalData.rateMomentumRating}"></td>
                </tr>
                <tr>
                    <td>Dreimonatsreversal</td>
                    <td></td>
                    <td th:text="${fundamentalData.reversal3Month}"></td>
                    <td th:text="${fundamentalData.reversal3MonthRating}"></td>
                </tr>
                <tr>
                    <td>Gewinnwachstum</td>
                    <td></td>
                    <td>
                        <span th:text="'Gewinn Aktuelles Jahr: ' + ${fundamentalData.epsCurrentYear}"></span><br/>
                        <span th:text="'Gewinn Nächstes Jahr: ' + ${fundamentalData.epsNextYear}"></span><br/>
                        <span th:text="'Gewinnwachstum: ' + ${fundamentalData.profitGrowth}"></span><br/>
                    </td>
                    <td th:text="${fundamentalData.profitGrowthRating}"></td>
                </tr>
                <tr>
                    <td>Gesamtrating</td>
                    <td></td>
                    <td></td>
                    <td th:text="${fundamentalData.overallRating}"></td>
                </tr>
            </tbody>
        </table>

        <p><a th:text="${fundamentalData.symbol} + ' bearbeiten'" th:href="'/stockdetail/edit/' + ${fundamentalData.symbol}"></a></p>
        <p><a th:text="${fundamentalData.symbol} + ' neu bewerten'" th:href="'/stockdetail/rate/' + ${fundamentalData.symbol}"></a></p>
        <p><a href="/overview">Zurück zur Übersicht</a></p>
    </div>

</body>
<footer th:include="layout :: footer(datatables=${false}, analystRatingCalculator=${false})"></footer>
</html>